<div class="widget tag">
  <h3 class="title">Tags</h3>
  <ul class="entry">
  <% for (var i in site.tags){ %>
    <% var item = site.tags[i]; %>
    <li><a href="<%- item.permalink %>"><%= i %></a><small><%= item.length %></small></li>
  <% } %>
  </ul>
</div>