<div class="widget twitter">
  <h3 class="title">Tweets</h3>
  <ul id="tweets"></ul>
</div>

<script type="text/javascript">
(function($){
  $.getScript('/js/moment.min.js', function(){
    var url = 'https://api.twitter.com/1/statuses/user_timeline/<%= theme.twitter.username %>.json?count=<%= theme.twitter.tweet_count %>&exclude_replies=' + (<%= theme.twitter.show_replies %> ? 0 : 1) + '&trim_user=true&callback=?';

    var linkify = function(text){
      text = text
        .replace(/(https?:\/\/)([\w\-:;?&=+.%#\/]+)/gi, '<a href="$1$2">$2</a>')
        .replace(/(^|\W)@(\w+)/g, '$1<a href="http://twitter.com/$2">@$2</a>')
        .replace(/(^|\W)#(\w+)/g, '$1<a href="http://search.twitter.com/search?q=%23$2">#$2</a>');

      return text;
    };

    $.getJSON(url, function(json){
      var result = '';

      for (var i=0, len=json.length; i<len; i++){
        var item = json[i];
        result += '<li>' + linkify(item.text) + '<small>' + moment(item.created_at).fromNow() + '</small></li>';
      }

      $('#tweets').html(result);
    });
  })
})(jQuery);
</script>