// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-default = "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif"; 
font-serif = "Georgia", "Times New Roman", "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif"; 
font-mono = "Monaco", "Menlo" ,"Consolas", "Courier New", "monospace"
font-title = "Lato", Helvetica Neue, Helvetica, "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif"; 

@import url(//fonts.googleapis.com/css?family=Lato:400,400italic)

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px