<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12" style="padding-top: 50px">
<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>
    </div>
  </div>
</div>
